/laskarit/viikko2/unicafe/.pytest_cache
/laskarit/viikko2/unicafe/__pycache__
/laskarit/viikko2/unicafe/src/__pycache__/
/laskarit/viikko2/unicafe/src/tests/__pycache__/
/laskarit/viikko2/unicafe/.coverage
/laskarit/viikko2/unicafe/htmlcov
/htmlcov
/.pytest_cache
/__pycache__
/tests/__pycache__
/tests/pytest_cache
/.coverage
/src/entities/__pycache__
/src/services/__pycache__
/src/info.txt
/src/__pycache__
src/data/__pycache__